{template 'header.html'}


<div class="container-fluid">


    <section class="slide1469750651 row">
        <ul class="rslides">
            <li><a href="#"><img src="{__ROOT__}statics/content/images/1.jpg" alt=""></a></li>
            <li><a href="#"><img src="{__ROOT__}statics/content/images/2.jpg" alt=""></a></li>
            <li><a href="#"><img src="{__ROOT__}statics/content/images/3.jpg" alt=""></a></li>
        </ul>

        <div id="slider-pager">
          <a href="#"><img src="{__ROOT__}statics/content/images/1.jpg" alt=""></a>
          <a href="#"><img src="{__ROOT__}statics/content/images/2.jpg" alt=""></a>
          <a href="#"><img src="{__ROOT__}statics/content/images/3.jpg" alt=""></a>
        </div>
    </section>


</div>

<div class="container show1470286236" style="max-width: 1200px;margin-top: 20px;">
	<div class="row">
		<div class="col-md-4 col-xs-12">
             <div class="box">
                 <h3>媒体报道2<a href="">more</a></h3>
                 <ul>
                     <li><a href="article_2310.html">为什么企业要建营销型企业网站</a><span>2016-06-14</span></li>
                     <li><a href="article_2309.html">互联网思维到底是什么？</a><span>2016-06-14</span></li>
                     <li><a href="article_2283.html">互联网时代，网络营销为企业竞争力</a><span>2016-06-14</span></li>
                     <li><a href="article_2278.html">新浪报道司慧网络PEM精准化营销</a><span>2016-06-14</span></li>
                     <li><a href="article_2277.html">网易新闻专访：对话司慧网络创始人</a><span>2016-06-14</span></li>
                     <li><a href="article_2277.html">网易新闻专访：对话司慧网络创始人</a><span>2016-06-14</span></li>
                 </ul>
             </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="box simple-slide">
                <h3>最新案例</h3>
                <div class="box2 slide-item">
                    <img src="{__ROOT__}statics/content/images/1.jpg" class="img-responsive">
                    <h4>东方照明</h4>
                    <div class="box2-txt">
                        “司慧网络坐落于东方魔都---上海。专注于网站建设，工于营销，以建营销型网站见长，并以网站托管为特色，司慧网络，智慧的选择。”
                    </div>
                </div>

                <div class="box2 slide-item" style="display: none;">
                    <img src="{__ROOT__}statics/content/images/1.jpg" class="img-responsive">
                    <h4>东方照明3</h4>
                    <div class="box2-txt">
                        “司慧网络坐落于东方魔都---上海。专注于网站建设，工于营销，以建营销型网站见长，并以网站托管为特色，司慧网络，智慧的选择。”
                    </div>
                </div>

                <div class="box2 slide-item" style="display: none;">
                    <img src="{__ROOT__}statics/content/images/1.jpg" class="img-responsive">
                    <h4>东方照明4</h4>
                    <div class="box2-txt">
                        “司慧网络坐落于东方魔都---上海。专注于网站建设，工于营销，以建营销型网站见长，并以网站托管为特色，司慧网络，智慧的选择。”
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="box">
                <h3>品牌故事</h3>
                <div class="box2">
                    <img src="{__ROOT__}statics/content/images/1.jpg" class="img-responsive">
                    <div class="box2-txt">
                        “司慧网络坐落于东方魔都---上海。专注于网站建设，工于营销，以建营销型网站见长，并以网站托管为特色，司慧网络，智慧的选择。”
                    </div>
                    <div class="box2-footer">立足上海，辐射全国<a href="">more</a></div>
                </div>

            </div>
        </div>


	</div>
</div>
{template 'footer.html'}
